[sync]
alwaysshowpkgorigin = no
develpkgsexpiration = -1
upgradesorting = versiondiff
showdownloadsize = no
ignoreoutofdateaurupgrades = no

[build]
keepbuilddir = no
keepdevbuilddir = yes
keepbuilddeps = no
gpgdir = {{ archlinux_pikaur_build_gpg_dir }}
skipfailedbuild = no
alwaysusedynamicusers = yes
ignorearch = no

[review]
noedit = no
donteditbydefault = no
nodiff = no
gitdiffargs = --ignore-space-change,--ignore-all-space
diffpager = auto
hidedifffiles = .SRCINFO

[colors]
version = 10
versiondiffold = 11
versiondiffnew = 9

[ui]
requireenterconfirm = yes
printcommands = no
aursearchsorting = hottest
displaylastupdated = no
groupbyrepository = yes
reversesearchsorting = no

[misc]
sudoloopinterval = 59
pacmanpath = pacman
privilegeescalationtool = sudo

[network]
aururl = https://aur.archlinux.org
newsurl = https://www.archlinux.org/feeds/news/
socks5proxy =
aurhttpproxy =
aurhttpsproxy =
